/* 
=====================================================
    CLASSES - Unversal
=====================================================
*/

.col-6 {
    display: flex;
}

.margin {
    margin-left: 40px;
}


/* 
=====================================================
    HEADER
=====================================================
*/

#header {
    width: 1050px;
    height: 210px;
    margin: auto;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
 
header .logo p {
    padding: 10px 100px 0;
}

header span {
    color: #ea9f05;
}

header .compte-panier {
    border: 1px solid #858484;
    background: #e5e5e5;
    height: 60px;
    width: 400px;
    display: flex;
}

header .compte-panier p {
    padding-top: 20px;
}

header .compte-panier img, p {
    margin: 10px;
}

header h1 {
    text-align: right;
    padding: 10px;
}


/* Nav */
header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    padding: 5px 20px ;
    border-left: 1px solid #858484;
    border-right: 1px solid #858484;
    color: #000;
}

/* 
=====================================================
    MAIN - Gallerie
=====================================================
*/
main {
    background: #1c1c1c;
}

#main {
    width: 1050px;
    margin: auto;
    height: 1120px;
    background: #f3f3f3;
}

.presentation {
    width: 1050px;
}

/* gallerie */
.gallerie {
    width: 1050px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.gallerie figure {
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.47);
box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.47);
}
/* 
=====================================================
    FOOTER
=====================================================
*/
footer {
    height: 420px;
    widows: 1050px;
    text-align: center;
    background-color: #373737;
    color: #fff;
}

.footer-flex {
    display: flex;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

hr {
    width: 500px;
}
.reseau-sociaux {
    text-align: center;
}
.reseau-sociaux img{
    margin: 20px;
}